.interest {
  width: 242px;
  height: 118px;
  opacity: 1;
  position: absolute;
  top: 447px;
  left: 26px;
  overflow: hidden;
}
.interest1 {
  width: 164px;
  color: rgba(156,86,245,0.6899999976158142);
  position: absolute;
  top: 12px;
  left: 39px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.interest2 {
  width: 242px;
  height: 118px;
  background: rgba(217,217,217,0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.interest3 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 88px;
  left: 15px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.interest4 {
  width: 48px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 107px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.interest5 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 184px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}

.LanguageProgramming {
  width: 244px;
  height: 108px;
  opacity: 1;
  position: absolute;
  top: 658px;
  left: 325px;
  overflow: hidden;
}
.LanguageProgramming1 {
  width: 209px;
  color: rgba(156,86,245,0.6899999976158142);
  position: absolute;
  top: 12px;
  left: 18px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.LanguageProgramming2 {
  width: 244px;
  height: 108px;
  background: rgba(217,217,217,0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.LanguageProgramming3 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 87px;
  left: 59px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.LanguageProgramming4 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 156px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}

.DesiredJob {
  width: 244px;
  height: 101px;
  opacity: 1;
  position: absolute;
  top: 591px;
  left: 26px;
}
.DesiredJob1 {
  width: 230px;
  color: rgba(75,100,233,0.550000011920929);
  position: absolute;
  top: 10px;
  left: 7px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.DesiredJob2 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 43px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.DesiredJob3 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 81px;
  left: 43px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.DesiredJob4 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 58px;
  left: 43px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.DesiredJob5 {
  width: 244px;
  height: 101px;
  background: rgba(217,217,217,0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.Skills {
  width: 244px;
  height: 122px;
  opacity: 1;
  position: absolute;
  top: 491px;
  left: 325px;
  overflow: hidden;
}
.Skills1 {
  width: 244px;
  height: 122px;
  background: rgba(217,217,217,0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Skills2 {
  width: 79px;
  color: rgba(75,101,233,0.550000011920929);
  position: absolute;
  top: 22px;
  left: 67px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.Skills3 {
  width: 230px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 10px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}

.Self {
  width: 244px;
  height: 164px;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 325px;
  overflow: hidden;
}
.Self1 {
  width: 68px;
  color: rgba(75,101,233,0.550000011920929);
  position: absolute;
  top: 24px;
  left: 67px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.Self2 {
  width: 43px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 10px;
  overflow: hidden;
}
.Self3 {
  width: 244px;
  height: 164px;
  background: rgba(217,217,217,0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Self4 {
  width: 216px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 66px;
  left: 16px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}

.education {
  width: 244px;
  height: 198px;;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 325px;
  overflow: hidden;
  font-size: 10px;
}
.education1 {
  width: 43px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.education2 {
  width: 136px;
  color: rgba(156,86,245,0.6899999976158142);
  position: absolute;
  top: 30px;
  left: 67px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.education3 {
  width: 244px;
  height: 198px;
  background: rgba(217,217,217,0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.education4 {
  width: 225px;
  color: url("../images/v3_128.png");
  position: absolute;
  top: 54px;
  left: 9px;
  font-family: Inter;
  font-weight: Medium;
  opacity: 1;
  text-align: left;
}

.contacts {
  width: 244px;
  height: 107px;
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 26px;
  overflow: hidden;
}
.contacts1 {
  width: 244px;
  height: 107px;
  background: rgba(217,217,217,0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.contacts2 {
  width: 101px;
  color: rgba(156,86,245,0.6899999976158142);
  position: absolute;
  top: 14px;
  left: 74px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.contacts3 {
  width: 175px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 39px;
  left: 42px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.contacts4 {
  width: 175px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 83px;
  left: 42px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.contacts5 {
  width: 175px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 61px;
  left: 42px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}

.language {
  width: 244px;
  height: 96px;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 26px;
  overflow: hidden;
}
.language1 {
  width: 244px;
  height: 96px;
  background: rgba(217,217,217,0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.language2 {
  width: 67px;
  color: rgba(75,101,233,0.550000011920929);
  position: absolute;
  top: 18px;
  left: 55px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.language3 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 73px;
  left: 57px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.language4 {
  width: 155px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 57px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}

.Hobby {
  width: 274px;
  height: 83px;
  opacity: 1;
  position: absolute;
  top: 718px;
  left: 12px;
  overflow: hidden;
}
.Hobby1 {
  width: 274px;
  height: 83px;
  background: rgba(217,217,217,0.28999999165534973);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Hobby2 {
  width: 261px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 53px;
  left: 7px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.Hobby3 {
  width: 74px;
  color: rgba(156,86,245,0.6899999976158142);
  position: absolute;
  top: 23px;
  left: 28px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.photo {
  width: 171px;
  height: 135px;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 62px;
  overflow: hidden;
}
.photo1 {
  width: 171px;
  height: 135px;
  background: url("../assets/images/photo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.background {
  width: 297px;
  height: 837px;
  background: rgba(156,141,249,0.05000000074505806);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}